@import url("default.css");


main #txaOutputWindow{
	text-align: center;
	float: center;
	margin-top: 50px;
}

main #nums {
	position: absolute;
	right: 250px;
	top: 25px;
}

main #timer {
	color: red;
	font-size: 28px;
	text-shadow: 0px 8px 6px 0px rgba(0,0,0,0.8);
}